body {
  font-family: 'Arial', sans-serif;
  /* background: rgb(34,193,195); */
  background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,0.6559873949579832) 100%);  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {

}
.title {
  text-align: center;
}


